body {
  background-color: #f8e8a6;
}
h1 {
  text-align: center;
  margin: 40px;
}
p {
  text-align: center;
}
.links {
  text-align: center;
  margin: 30px;
}
a {
  margin: 10px;
  color: red;
  text-decoration: none;
}
a:hover {
  color: blue;
  text-decoration: underline;
}
